<ion-view title="Info">
  <ion-content class="has-header padding">      
    <div class="list">

      <a href="#/tab/info/om" class="item item-input">
        <div class="input-label">
          Om
        </div>
      </a>

      <a href="#/tab/info/rettigheter" class="item item-input">
        <div class="input-label">
          Rettigheter
        </div>
      </a>

      <label class="item item-input item-select">
        <div class="input-label">
          Språk
        </div>
        <select ng-change="showAlert()" ng-model="InfoCtrl">
            <option value="">Norsk</option>
            <option>English</option>
        </select>
      </label>

    </div>
  </ion-content>
</ion-view>