<!--
  Jan Fredrik Gundersen, Skien - 2014
  Startskjermen med oversikt over kategorier og bedrifter.
-->

<ion-view title="Studentrabatter i Gjøvik">
  <ion-content class="has-header"> <!-- padding -->
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" data-ng-model="name" placeholder="Søk blant firmaene..">
        </label>
      </div>
    <ion-list>    <!-- Listen over de respektive kategoriene -->
        <div class="item item-divider">
            Treningsstudioer
        </div>
      <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'trening' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Mat og drikke
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'resturant' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Helse/hud/hår
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'helse' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Klær/sko
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'klaer' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Transport
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'transport' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Kultur og aktiviteter
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'kultur' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Elektronikk
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'elektronikk' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
        <div class="item item-divider">
            Annet
        </div>
        <ion-item ng-repeat="studrab in studrabs | filter: { kat: 'annet' } | filter:name" type="item-text-wrap" href="#/tab/studrab/{{studrab.id}}">
        {{studrab.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>