<!--
  Jan Fredrik Gundersen, Skien - 2014
  Fanene i appen
  - Viser fanen "Studentrabatter" og "Info" med ikon
-->

<ion-tabs class="tabs-icon-only">

  <!-- Studentrabatterfanen -->
  <ion-tab title="Studentrabatter" icon="icon ion-bag" href="#/tab/studrab">
    <ion-nav-view name="tab-studrab"></ion-nav-view>
  </ion-tab>

  <!-- Informasjonsfanen -->
  <ion-tab title="Info" icon="icon ion-information-circled" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

</ion-tabs>